/**
 * file: style.css
 * purpose: effects ...
 **/

/* TRANSISTION: The animation code */

@keyframes ghosty {
    0% {
        left: 10px;
        top: 60px;
    }
    25% {
        left: 20%;
        top: 10px;
    }
    50% {
        left: 20%;
        top: 40px;
    }
    75% {
        left: 0px;
        top: 400px;
    }
    100% {
        left: 60px;
        top: 6
            10px;
    }
}

.ghost {
  animation-name: ghosty; /* Safari 4.0 - 8.0 */
  position: relative;
    animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;

}
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
}

/* Standard syntax */
@keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
}
@keyframes bedstemorAnd {
    0%   {
			background-color: red;
			width: 200px;
		}
    25%  {
			background-color: yellow;
						width: 700px;
			}
    50%  {
			background-color: blue;
						width: 400px;
			}
    100% {
			background-color: green;
						width: 200px;
		}
}

h1 {
    animation-name: andersAnd;
    animation-duration: 2s;
		animation-timing-function: ease-in-out;
		/*animation-iteration-count: infinite; */
}

p {
	animation-name: bedstemorAnd;
	animation-duration: 2s;
}
